{% extends "chains/base.html" %}
{% block chain %}
    <div class="container-fluid">
        <div class='btn-toolbar pull-right'>
        <div class="btn-group" role="group">
            <a href="{% url 'chains:get_details' story_id %}" class="btn btn-success" role="button">View Details</a>
            <a href="{% url 'chains:index' %}" class="btn btn-info" role="button">Back</a>
        </div>
        </div>
        <!--<div class="col-md-3 justify-content-md-right"><a href="{% url 'chains:index' %}" class="btn btn-default btn-secondary" role="button">View Details</a></div>-->
        <!--<div class="col-md-7"></div>-->

        <!--<div class="col-md-2 justify-content-md-right"><a href="{% url 'chains:index' %}" class="btn btn-default btn-secondary" role="button">Back</a></div>-->
</div>
    <div class="row">
    <div class="col-md-6">

        <ul>
        {% for chain in chains %}
            {% for q_a in chain %}
            <li><h4>{{q_a.0}}</h4>{{q_a.1}}</li>
            {% endfor %}
             <hr>
        {% endfor %}
        </ul>
      </div>

        <!--<div class="col-md-4">-->
        <!--<ul>-->
         <!--{% for sent_no, cl in clauses.items %}-->
            <!--{% for clause in cl %}-->
            <!--<li><h4>{{clause}}</h4></li>-->
            <!--{% endfor %}-->
        <!--{% endfor %}-->
        <!--</ul>-->
      <!--</div>-->

      <div class="col-md-6 col-md-auto">
        <h1>
            Country: {{country}}
        </h1>
          <div style="font-size: 18px">
          {{text}}
            </div>
      </div>

 </div>

{% endblock %}
